
\.vscode/\.ropeproject/config\.py

\.vscode/\.ropeproject/objectdb

__pycache__/

generated_files/queries*
generated_files/songs*
generated_files/matrix*
generated_files/inverted*
generated_files/vocabulary.json



diagrama-TCC-v1\.jpg

expected results

\.vscode/
